exportPattern("^[[:alpha:]]+")
import(Matrix)
import(foreach)
import(MESS)
import(XML)
import(igraph)
importFrom("stats", "sd")
importFrom("utils", "browseURL", "data","download.file")
importFrom("RCurl", "getURL")
importFrom("utils", "write.table", "read.table")
